* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color:var(--color-white);
    font-family: 'OpenSans';
    font-weight: 700;
}
@font-face {
    font-family: 'OpenSans';
    src: url("/SGG/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

:root {
    --color-selected: rgb(66, 66, 66);
    --color-select: rgb(77, 77, 77);
    --color-main: rgb(255, 219, 88);
    --color-main-second: rgb(255, 222, 104);
    --color-alt-select: rgb(117, 117, 117);
    --color-white:rgb(255, 255, 255);
    --color-black:rgb(0, 0, 0);
}

.ant-layout{
    background-color: var(--color-select);
}

.ant-tabs-nav-list {
    justify-content: center;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 10rem;
}
.ant-tabs-nav {
    background-color:var(--color-select);
}
.ant-tabs-tab {
    justify-content: center;
    border-radius: 16px;

}
.ant-tabs-tab:hover{
    background-color:var(--color-alt-select);
}

.ant-tabs-tab-btn {
    font-weight: 500;
}
.ant-tabs-tab:active .ant-tabs-tab-btn:active{
    color: var(--color-main-second);
}
.ant-tabs-tab:active .ant-tabs-tab-btn{
    color: var(--color-main-second);
}
.ant-tabs-tab:active {
    
    transform: scale(0.8);
    transition: all 0.3s;
}

.ant-tabs-ink-bar {
  display: none;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--color-main);
}
.ant-tabs-tab.ant-tabs-tab-active {
    background-color: var(--color-selected);
}